---
layout: page
title: Tags
title_zh: 标签 
subtitle: Keep Calm and Carry On.
subtitle_zh: 路漫漫其修远兮，吾将上下而求索。 
permalink: /tags/
---

<section class="post-tags">
    {% for tag in site.tags %}
        {% assign temp = tag[0] | split: '_' %}
        {% comment %}
           temp = [name, lan, value]
        {% endcomment %}
        {% if temp.size == 1 %}
            <a class="en post-tags-item" href="#{{ temp[0] | slugify }}">{{ temp[0] }}</a>
        {% else %}
            <a class="{{temp[1]}} post-tags-item" href="#{{ temp[0] | slugify }}">{{ temp[2] }}</a>
        {% endif %}
    {% endfor %}
</section>

<hr>

    {% for tag in site.tags  %}
        {% assign temp = tag[0] | split: '_' %}
        {% comment %}
           temp = [name, lan, value]
        {% endcomment %}
        {% if temp.size == 1 %}
    <h2 class="en" id="{{ temp[0] | slugify }}">{{ temp[0] | capitalize }}</h2>
    <ul class="en">
        {% else %}
    <h2 class="{{temp[1]}}" id="{{ temp[0] | slugify }}">{{ temp[2] | capitalize }}</h2>
    <ul class="{{temp[1]}}">
        {% endif %}

        {% assign pages_list = tag[1] %}
        {% for post in pages_list reversed %}
            {% if post.title != null %}
                {% if group == null or group == post.group %}
        <li>
		<p><a href="{{ post.url | prepend: site.baseurl }}">
			{{ post.title }}</a><span class="date"><time datetime="{{ post.date | date_to_long_string }}"> - {{ post.date | date_to_long_string }}</time></span></p>
        </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
        {% assign temp = nil %}
    </ul>
    {% endfor %}