<div class="site-footer">
  <div class="wrapper">
    <center>
		<p><a class="link" href="{{ site.baseurl }}/archive/">Archive</a> /
		<a class="link" href="{{ site.baseurl }}/category/">Category</a> / 
		<a class="link" href="{{ site.baseurl }}/tags/">Tags</a> / 
		<a class="link" href="{{ site.url }}">About</a> /
        </p>
        <span><script>document.write(new Date().getFullYear());</script></span>
        <span>&copy;</span>
        
		<a class="link" href="{{ site.baseurl }}">{{ site.name }}</a>
		<br>
		<span>Thanks to <a class="link" href="https://twitter.com/itisbenjamin1" target="_blank"> Ben</a> for the Theme.</span>
    </center>
  </div>
</div>
